:root {
  --tfz-white: #ffffff;
  --tfz-white-soft: #f8f8f8;
  --tfz-white-mute: #f2f2f2;
  --tfz-black: #181818;
  --tfz-black-soft: #222222;
  --tfz-black-mute: #282828;
  --tfz-indigo: #2c3e50;
  --tfz-divider-light-1: rgba(60, 60, 60, 0.29);
  --tfz-divider-light-2: rgba(60, 60, 60, 0.12);
  --tfz-divider-dark-1: rgba(84, 84, 84, 0.65);
  --tfz-divider-dark-2: rgba(84, 84, 84, 0.48);

  --tfz-text-light-1: var(--tfz-indigo);
  --tfz-text-light-2: rgba(60, 60, 60, 0.66);
  --tfz-text-dark-1: var(--tfz-white);
  --tfz-text-dark-2: rgba(235, 235, 235, 0.64);

  --tfz-green: rgba(0, 255, 0);
  --tfz-orangish-red: #4b4442;

  --rd-1x: 2px;
  --rd-2x: 4px;
  --rd-3x: 6px;
  --rd-4x: 8px;
  --rd-5x: 10px;
  --rd-6x: 12px;
  --rd-7x: 14px;
  --rd-8x: 16px;
  --rd-9x: 18px;
  --rd-10x: 20px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  --line-height-xs: 12px;
  --line-height-sm: 14px;
  --line-height-md: 16px;
  --line-height-lg: 18px;
  --line-height-xl: 20px;

  --color-light-basic: var(--tfz-text-dark-1);
  --color-dark-basic: var(--tfz-text-light-1);

  --color-light-primary: var(--tfz-orangish-red);
  --bg-light-primary: var(--tfz-white-soft);

  --color-dark-primary: var(--tfz-white-soft);
  --bg-dark-primary: var(--tfz-orangish-red);

  --color-light-secondary: var(--tfz-white-soft);
  --bg-light-secondary: var(--tfz-text-light-2);

  --color-dark-secondary: var(--tfz-text-light-2);
  --bg-dark-secondary: var(--tfz-white-soft);

  --color-light-success: var(--tfz-green);
  --bg-light-success: var(--tfz-white-soft);

  --color-dark-success: var(--tfz-white-soft);
  --bg-dark-success: var(--tfz-green);

  --font-basic: var(--color-dark-basic);
  --bg-basic: var(--color-light-basic);
  --border-color-basic: #e7e7e7;

  --font-primary: var(--color-light-primary);
  --bg-primary: var(--bg-light-primary);
  --border-color-primary: var(--tfz-orangish-red);

  --font-secondary: var(--color-light-secondary);
  --bg-secondary: var(--bg-light-secondary);
  --border-color-secondary: var(--bg-light-secondary);

  --font-link: rgb(110, 180, 10);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--tfz-white);
  --color-background-soft: var(--tfz-white-soft);
  --color-background-mute: var(--tfz-white-mute);

  --color-border: var(--tfz-divider-light-2);
  --color-border-hover: var(--tfz-divider-light-1);

  --color-heading: var(--tfz-text-light-1);
  --color-text: var(--tfz-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--tfz-black);
    --color-background-soft: var(--tfz-black-soft);
    --color-background-mute: var(--tfz-black-mute);

    --color-border: var(--tfz-divider-dark-2);
    --color-border-hover: var(--tfz-divider-dark-1);

    --color-heading: var(--tfz-text-dark-1);
    --color-text: var(--tfz-text-dark-2);

    --font-basic: var(--color-light-basic);
    --bg-basic: var(--color-dark-basic);

    --font-primary: var(--color-dark-primary);
    --bg-primary: var(--bg-dark-primary);
    --border-color-primary: var(--tfz-orangish-red);

    --font-secondary: var(--color-dark-secondary);
    --bg-secondary: var(--bg-dark-secondary);
    --border-color-secondary: var(--color-dark-secondary);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
