@import './base.css';
@import './spacings.css';

html,
body {
  height: 100%;
  widht: 100%;
}

#app {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (max-width: 899px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    flex-direction: column;
  }
}
